/*!
Theme Name: Photography Blog
Theme URI: https://unitedtheme.com/themes/photography-blog/
Author: UnitedTheme
Author URI: http://unitedtheme.com/
Description: A clean beautiful and minimal blog theme designed specifically for bloggers to make blogs for photography, food, fashion, lifestyle, magazines, travel, sports, technology, as well as modern newspaper websites. photography WordPress theme that comes with high-quality features and minimal design. Photography Blog is simple, clean, elegant and straightforward. It is ideal for creating photography websites for photographers, graphic designers, freelancers, artists, or bloggers. It comes with customizer API based features that are extremely lite and easy to handle,as it just has all to take your photoblogs to the next level.
Version: 1.0.7
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: photography-blog
Tags: blog, news, photography, two-columns, left-sidebar, right-sidebar, featured-image-header, custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready,rtl-language-support

Photography Blog WordPress Theme, Copyright 2018 UnitedTheme
Photography Blog is distributed under the terms of the GNU GPL v3 or later.

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

.bypostauthor {
    display: block;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #666;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    margin: 0 0 20px;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #fff;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 0;
    padding: 10px 15px;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 0;
    padding: 10px 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
    outline: none;
}

textarea {
    width: 100%;
}

input, textarea, select {
    background-color: rgba(102, 102, 102, 0.1);
    color: #666;
}

.btn-link:link,
.btn-link:visited {
    position: relative;
    display: inline-block;
    margin: 30px auto 0;
    min-width: 280px;
    padding: 14px 30px;

    color: #232323;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-link:link:after,
.btn-link:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

.btn-link:link:hover,
.btn-link:visited:hover {
    color: #e1b5b7;
}

.btn-link:link:hover:after,
.btn-link:visited:hover:after {
    height: 450%;
}

/* Gibson Buttons */

.btn-link {
    border: 2px solid #e1b5b7;
    color: #FFF;
}

.btn-link:after {
    opacity: 0;
    background-image: -webkit-linear-gradient(transparent 50%, rgba(225, 181, 183, 0.2) 50%);
    background-image: -moz-linear-gradient(transparent 50%, rgba(225, 181, 183, 0.2) 50%);
    background-size: 10px 10px;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

.btn-link:hover:after {
    height: 600% !important;
    opacity: 1;
    z-index: 1;
}

.continue-link {
    display: table !important;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #232323;
    text-decoration: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

a:active,
a:visited {
    color: #232323;
}

a:hover,
a:focus {
    color: #e1b5b7;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
body:not(.home) .united-navigation {
    background: #faf8f7;
}

.main-navigation {
    position: relative;
    text-align: center;
}

.main-navigation .toggle-menu {
    height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    display: none;
}

.icon-search {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

.icon-search svg {
    height: 18px;
    margin-top: 10px;
    width: 18px;
}

@media (max-width: 991px) {
    .icon-search {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

.toogle-icon {
    width: 23px;
    height: 2px;
    top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.toogle-icon:before,
.toogle-icon:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.toogle-icon:before {
    top: -8px;
}

.toogle-icon:after {
    top: 8px;
}

.toogle-icon.toogle-icon-close {
    background-color: transparent;
}

.toogle-icon.toogle-icon-close:before {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
    -moz-transform: translateY(8px) rotateZ(-45deg);
    -ms-transform: translateY(8px) rotateZ(-45deg);
    -o-transform: translateY(8px) rotateZ(-45deg);
    transform: translateY(8px) rotateZ(-45deg);
}

.toogle-icon.toogle-icon-close:after {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
    -moz-transform: translateY(-8px) rotateZ(45deg);
    -ms-transform: translateY(-8px) rotateZ(45deg);
    -o-transform: translateY(-8px) rotateZ(45deg);
    transform: translateY(-8px) rotateZ(45deg);
}

.toogle-icon,
.toogle-icon:before,
.toogle-icon:after {
    background: #333;
}

.main-navigation .menu ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    vertical-align: top;
}

.main-navigation .menu ul li {
    position: relative;
    display: inline-block;
}

.main-navigation .menu ul li a {
    color: #232323;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-navigation .menu ul li i {
    margin: 0 10px;
    display: inline-block;
    line-height: 100%;
}

@media only screen and (min-width: 992px) {
    .main-navigation .menu {
        display: inline-block;
        vertical-align: middle;
    }

    .main-navigation .menu ul > li > a {
        display: block;
        padding: 45px 10px;
    }

    .main-navigation .menu ul ul li {
        width: 260px;
    }

    .main-navigation .menu ul ul a {
        color: #fff;
        display: block;
        padding: 12px 30px;
        line-height: inherit;
    }

    .main-navigation ul ul li a:hover,
    .main-navigation ul ul li a:focus {
        background: #e1b5b7;
    }

    .main-navigation .menu ul ul {
        background: #2d2d2d;
        position: absolute;
        text-align: left;
        visibility: hidden;
        filter: alpha(opacity=0);
        opacity: 0;
        margin: 0 auto;
        padding: 0;
    }

    .main-navigation .menu li:hover > ul,
    .main-navigation .menu li:focus > ul {
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        z-index: 999;
        -webkit-transition: opacity 0.4s, top 0.4s;
        -moz-transition: opacity 0.4s, top 0.4s;
        -ms-transition: opacity 0.4s, top 0.4s;
        -o-transition: opacity 0.4s, top 0.4s;
        transition: opacity 0.4s, top 0.4s;
    }

    .main-navigation .menu li:focus-within > ul {
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        z-index: 999;
        -webkit-transition: opacity 0.4s, top 0.4s;
        -moz-transition: opacity 0.4s, top 0.4s;
        -ms-transition: opacity 0.4s, top 0.4s;
        -o-transition: opacity 0.4s, top 0.4s;
        transition: opacity 0.4s, top 0.4s;
    }

    .main-navigation .menu > ul > li > ul {
        top: 100%;
        left: 0;
    }

    .main-navigation .menu > ul > li:last-child > ul {
        left: auto;
        right: 0;
    }

    .main-navigation .menu ul ul ul {
        top: -20px;
        left: 100%;
    }

    .main-navigation .menu ul ul li:hover ul,
    .main-navigation .menu ul ul li:focus ul{
        top: 0;
    }

    .main-navigation .menu ul ul li:focus-within ul{
        top: 0;
    }

    .icon-down {
        border: solid #333;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .sub-menu .icon-down {
        border-color: #fff;
    }
}

.main-navigation .menu .menu-mobile {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: left;
    position: relative;
    z-index: 9999;
    display: none;
}

.main-navigation .menu .menu-mobile li {
    display: block;
    border-top: 1px solid;
    float: none;
}

.main-navigation .menu .menu-mobile li a {
    line-height: 50px;
    display: block;
    position: relative;
    padding-right: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-navigation .menu .menu-mobile li a:hover {
    filter: alpha(opacity=70);
    opacity: .7;
}

.main-navigation .menu .menu-mobile li a i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    z-index: 1;
}

.main-navigation .menu .menu-mobile li a i.active:after {
    width: 13px;
    height: 1px;
}

.main-navigation .menu .menu-mobile li a i:before,
.main-navigation .menu .menu-mobile li a i:after {
    content: '';
    width: 13px;
    height: 1px;
    background-color: #333;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-navigation .menu .menu-mobile li a i:after {
    width: 1px;
    height: 13px;
}

.main-navigation .menu .menu-mobile li .sub-menu,
.main-navigation .menu .menu-mobile li .children {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #dcdcdc;
    display: none;
}

.main-navigation .menu .menu-mobile li .sub-menu > li:first-child,
.main-navigation .menu .menu-mobile li .children > li:first-child {
    border-top: 0;
}

/* ## Single Post Navigation */

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.post-navigation {
    font-weight: 600;
    text-align: left;
    overflow: hidden;
}

.post-navigation a {
    color: #000;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1.2em;
    border: 1px solid #ebebeb;
    transition: all .3s;
    background-color: #fbfbfb;
}

@media screen and (min-width: 62em) {
    .post-navigation a {
        padding: 1.5em;
    }
}

@media screen and (min-width: 80em) {
    .post-navigation a {
        padding: 1.8em;
    }
}

.post-navigation .post-title {
    font-size: 1em;
    font-weight: 700;
}

.nav-previous {
    padding-bottom: 1em;
    width: 100%
}

.nav-next {
    width: 100%;
}

@media screen and (min-width: 30em) {
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    .post-navigation .nav-previous,
    .comment-navigation .nav-previous {
        display: flex;
        align-items: stretch;
        float: left;
        width: 48%;
    }

    .nav-previous {
        padding-bottom: 0;
    }

    .post-navigation .nav-next,
    .comment-navigation .nav-next {
        display: flex;
        align-items: stretch;
        float: right;
        text-align: right;
        width: 48%;
    }
}

.post-navigation .meta-nav {
    display: block;
    font-weight: 400;
    font-size: .9em;
    margin-bottom: .6em;
}

@media screen and (min-width: 62em) {
    .post-navigation .meta-nav {
        padding-bottom: 0;
    }
}

/* ## Single Post Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-title {
    border-bottom: 2px solid #f3f2f1;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 1.45em;
    padding-bottom: 1.5em;
    margin: 3em 0 3em;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list,
.comment-list ol {
    list-style-type: none;
}

.comment-body {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2.2em;
    padding-bottom: .8em;
}

.comment-meta {
    position: relative;
    margin-left: 70px;
    color: #000;
    background-color: inherit;
    margin-top: inherit;
    padding: 0;
}

.comment .avatar {
    position: absolute;
    left: -70px;
    width: 50px;
    height: 50px;
}

.children {
    margin-left: 1em;
    padding-left: 0;
}

.comment .avatar {
    top: -5px;
}

@media screen and (min-width: 30em) {
    .children {
        margin-left: 2em;
    }

    .comment-meta {
        margin-left: 80px;
    }

    .comment .avatar {
        top: 0px;
        left: -90px;
        width: 55px;
        height: 55px;
    }

    .comment-content {
        margin-left: 80px;
    }
}

@media screen and (min-width: 50em) {
    .children {
        margin-left: 3em;
    }

    .comment-meta {
        margin-left: 90px;
    }

    .comment .avatar {
        top: 5px;
        left: -90px;
        width: 55px;
        height: 55px;
    }

    .comment-content {
        margin-left: 90px;
    }
}

.comment-meta b a {
    text-decoration: none;
    color: #333;
}

.comment-meta a {
    text-decoration: none;
    color: #888;
}

.comment-meta a:hover,
.comment-meta a:focus {
    border-bottom: 2px solid #000;
}

.comment-metadata a:hover,
.comment-metadata a:focus {
    border-color: #ebebeb;
}

.comment-author {
    font-size: 1em;
    line-height: 1.3em;
}

.comment-author b {
    font-weight: 500;
}

.says {
    font-size: 80%;
}

.comment-metadata {
    margin-top: .5em;
    padding-bottom: .5em;
    font-size: .8em;
    line-height: 1em;
}

.comment-metadata .edit-link {
    float: right;
    margin-top: -1.5em;
}

.comment-metadata .edit-link a {
    padding: .5em 1em;
    font-weight: 600;
    color: #999;
}

.comment-metadata .edit-link a:hover,
.comment-metadata .edit-link a:focus,
.comment-metadata .edit-link a:active {
    color: #fff;
    border: 1px solid #999;
}

.reply {
    margin-bottom: 1.5em;
}

@media screen and (min-width: 30em) {
    .reply {
        margin-left: 80px;
    }
}

@media screen and (min-width: 50em) {
    .reply {
        margin-left: 90px;
    }
}

.reply a {
    display: inline-block;
    padding: .5em 1.3em;
    font-size: .62em;
    color: #fff;
    line-height: 1.6em;
    text-decoration: none;
    transition: all .3s;
    border-radius: 99px;
    background-color: #999;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.15em;
}

.reply a:hover,
.reply a:focus {
    background: #000;
    color: #fff;
    border-color: #000;
}

.comment-respond {
    padding: 1em 1.5em;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    margin-bottom: 2em;
}

@media screen and (min-width: 50em) {
    .comment-respond {
        padding: 1em 1.8em;
    }
}

#reply-title {
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: .5em;
    display: block;
}

.comment-content ol {
    list-style-type: decimal;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor .avatar {
    box-sizing: content-box;

}

.logged-in-as {
    margin: .5em 0;
}

@media screen and (min-width: 50em) {
    .logged-in-as {
        font-size: 85%;
    }
}

.comment-notes {
    color: #888;
    margin-top: .5em;
}

.comment-form label {
    width: 5em;
    display: inline-block;
}

.comment-form textarea,
.comment-form input {
    border-radius: 0;
    border: 1px solid #e3e3e3;
    font-size: 85%;
}

.comment-form .submit {
    background-color: #000;
    font-weight: 600;
    border: none;
    color: #fff;
    border-radius: 0;
    padding: 1em 1.5em;
}

.form-submit {
    margin-bottom: .8em;
}

.site-main .comment-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous {
    float: left;
    width: 100%;
}

.comment-navigation .nav-next {
    float: right;
    width: 100%;
}

.comment-navigation a {
    font-size: 1.5em;
}

.comment-navigation {
    font-weight: 600;
    text-align: left;
    overflow: hidden;
}

.comment-navigation a {
    color: #000;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1.2em;
    border: 1px solid #ebebeb;
    transition: all .3s;
    background-color: #fbfbfb;
}

@media screen and (min-width: 62em) {
    .comment-navigation a {
        padding: 1.5em;
    }
}

@media screen and (min-width: 80em) {
    .comment-navigation a {
        padding: 1.8em;
    }
}

.comment-navigation a:hover,
.comment-navigation a:focus {
    border-color: #999;
    color: #fff;
    background-color: #999;
}

@media screen and (min-width: 30em) {
    .comment-navigation .nav-previous {
        display: flex;
        align-items: stretch;
        float: left;
        width: 48%;
    }

    .comment-navigation .nav-next {
        display: flex;
        align-items: stretch;
        float: right;
        text-align: right;
        width: 48%;
    }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

#content[tabindex="-1"]:focus {
    outline: none;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.united-navigation:before,
.united-navigation:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.united-block:before,
.united-block:after,
.search-form:before,
.search-form:after,
.widget:before,
.widget:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.united-navigation:after,
.site-content:after,
.site-footer:after,
.united-block:after,
.search-form:after,
.widget:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}

.widget-title {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.1em;
    margin: 0 0 20px 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.widget select {
    max-width: 100%;
}

.widget ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.widget_recent_comments li,
.widget_pages li a,
.widget_archive li a,
.widget_meta li a,
.widget_categories li,
.widget_nav_menu li a,
.widget_recent_entries li a {
    border-bottom: 1px solid;
    padding: 10px 0;
    position: relative;
    display: table;
    width: 100%;
}

.widget_recent_comments li:last-child,
.widget_pages li:last-child a,
.widget_archive li:last-child a,
.widget_meta li:last-child a,
.widget_categories li:last-child,
.widget_nav_menu li:last-child a,
.widget_recent_entries li:last-child a {
    border: 0;
}

.tagcloud a {
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 25px;
}

#wp-calendar {
    width: 100%;
    margin: 0;
}

#wp-calendar caption {
    text-align: right;
}

#wp-calendar thead th {
    text-align: center;
}

#wp-calendar tbody td {
    border: 1px solid #313131;
    text-align: center;
    padding: 8px;
}

.site-widget-area #wp-calendar tbody td {
    border-color: #d0d0d0;
}

#wp-calendar tbody td:hover {
    background: #000;
    filter: alpha(opacity=62);
    opacity: .62;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-transform: uppercase;
    text-align: left;
    border: none;
    background: none;
}

#wp-calendar tfoot #prev {
    text-transform: uppercase;
    text-align: left;
    border: none;
    background: none;
}

#wp-calendar tfoot td.pad {
    display: none;
}

.widget_rss img {
    display: none;
}

.rss-date {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.rssSummary {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6em;
}

.widget_rss li a {
    display: block;
    line-height: 1.4em;
    text-transform: uppercase;
}

.widget_rss cite {
    font-size: 12px;
    display: block;
    padding-bottom: 20px;
}

.widget_rss li:last-child cite {
    padding-bottom: 0;
}

.tagcloud > a {
    border: 1px solid #e2e2e2;
    display: inline-block;
    font-size: 12px !important;
    letter-spacing: 1px;
    padding: 6px 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    color: #333;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.wrapper,
.site-content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.col-one {
    width: 10%;
}

.col-two {
    width: 20%;
}

.col-three {
    width: 30%;
}

.col-three-1 {
    width: 33.33%;
}

.col-four {
    width: 40%;
}

.col-five {
    width: 50%;
}

.col-six {
    width: 60%;
}

.col-seven {
    width: 70%;
}

.col-eight {
    width: 80%;
}

.col-nine {
    width: 90%;
}

.col-full {
    width: 100%;
}

@media (max-width: 991px) {
    .col {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .wrapper,
    .site-content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .wrapper,
    .site-content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .wrapper,
    .site-content {
        width: 1170px;
    }

    .no-sidebar .site-content {
        width: 1024px;
    }
}

#primary,
#secondary {
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#primary {
    padding-left: 0;
    width: 66.66%;
}

.error404 #primary,
.no-sidebar #primary {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#secondary {
    width: 33.33%;
    padding-right: 0;
}

.left-sidebar #primary {
    float: right;
    padding-left: 15px;
    padding-right: 0;
}

.left-sidebar #secondary {
    padding-left: 0;
    padding-right: 15px;
}

@media only screen and (max-width: 991px) {
    #primary {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #secondary {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .left-sidebar #primary {
        float: left;
    }
}

@media only screen and (max-width: 767px) {
    #primary,
    #secondary {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.site-content {
    padding-top: 40px;
    clear: both;
}

.site-branding {
    padding: 60px 0 0;
}

.home .slider-enabled .site-branding,
body:not(.home) .site-branding {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
}

body:not(.home) .site-branding {
    top: 100px;
    padding: 30px 0;
}

.site-title {
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 2px;
}

.site-description {
    letter-spacing: 4px;
}

.site-title,
.site-description {
    font-weight: 300;
    margin: 0 auto;
    text-transform: uppercase;
}

.home .slider-enabled .site-title,
.home .slider-enabled .site-title a,
.home .slider-enabled .site-description,
body:not(.home) .site-title,
body:not(.home) .site-title a,
body:not(.home) .site-description {
    color: #fff;
}

.model-search-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.popup-form {
    display: table-cell;
    vertical-align: middle;
}

.search-form {
    text-align: center;
}

.search-form label {
    display: block;
    width: 70%;
    float: left;
}

.search-form label .search-field {
    height: 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 100%;
}

.search-form .search-submit {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 30%;
}

.model-search .search-form {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.model-search .search-form label {
    width: 85%;
    width: calc(100% - 200px);
}

.model-search .search-form .search-submit {
    float: right;
    font-size: 24px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.model-search .search-form label .search-field {
    background: #fff;
    background: rgba(255, 255, 255, .90);
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
}

.model-search {
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.84);
    margin: auto;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.united-model .model-search {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.model-search .cross-exit {
    position: fixed;
    bottom: 80px;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 30px;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.model-search .cross-exit:after,
.model-search .cross-exit:before {
    content: '';
    height: 1px;
    width: 41px;
    position: absolute;
    background-color: #333;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.model-search .cross-exit:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.model-search .cross-exit:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 767px) {
    .model-search .search-form label,
    .model-search .search-form .search-submit {
        width: 100%;
        margin: 5px auto;
    }

    .model-search .search-form label .search-field {
        border-width: 1px;
    }
}

.banner-media {
    height: 325px;
    overflow: hidden;
    position: relative;
}

#mainslider .slick-slide {
    background-color: #000;
    height: 650px;
    overflow: hidden;
}

.banner-media img,
#mainslider .slick-slide img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    filter: alpha(opacity=84);
    opacity: .84;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
}

.error-404,
.slide-caption .wrapper {
    max-width: 900px;
}

.slides-title a,
.slides-excerpt {
    color: #fff;
}

.slides-title {
    font-size: 40px;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.divider {
    height: 1px;
    background: #fff;
    margin: 30px auto;
    width: 50%;
}

.slides-excerpt {
    line-height: 32px;
    font-size: 18px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

#primary .hentry {
    padding-bottom: 2em;
    border-bottom: 1px solid #d2d2d2;
}

.single #primary .hentry,
.page-template-default.page #primary .hentry {
    border: 0;
}

.hentry .entry-header {
    padding-bottom: 20px;
    line-height: 1.1em;
    margin: 0 auto;
}

.hentry .photo-grid .entry-header .entry-title {
    font-size: 20px;
    font-weight: 400;
    margin: 15px auto;
}

.hentry .photo-grid .entry-header .entry-title,
.hentry .photo-grid .entry-header .entry-meta {
    text-align: left;
}

.hentry .photo-grid .entry-header .entry-meta > span {
    padding-left: 0;
}

.hentry .entry-header,
.hentry .entry-content,
.hentry .entry-footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.hentry .post-thumbnail {
    display: block;
    text-align: center;
}

.single .hentry .entry-header,
.single .hentry .entry-content,
.single .hentry .entry-footer,
.page-template-default.page .hentry .entry-header,
.page-template-default.page .hentry .entry-content,
.page-template-default.page .hentry .entry-footer {
    text-align: left;
    width: 100%;
}

.entry-meta,
.entry-footer {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.entry-meta > span {
    padding-left: 10px;
    padding-right: 10px;
}

.entry-meta a,
.entry-footer a {
    color: #9384c9;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
    padding-left: 10px;
    padding-right: 10px;
}

.single .entry-footer .cat-links,
.single .entry-footer .tags-links {
    width: 100%;
    display: block;
    margin: 10px auto;
}

.single .entry-meta {
    padding-bottom: 20px;
}

.single .entry-meta > span {
    float: left;
}

.single .entry-meta > span:first-child {
    padding-left: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.intro-section {
    background: #faf8f7;
    padding-top: 100px;
    padding-bottom: 110px;
}

.photo-gallery-section .col-three-1:nth-child(3n+1) {
    clear: left;
}

.content-block .photo-gallery-section {
    margin-top: -50px;
}

.excerpt,
.entry-content {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
}

.slides-excerpt {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.intro-section .wrapper {
    max-width: 980px;
}

.entry-title,
.title-header {
    font-size: 40px;
    line-height: 1.4em;
    letter-spacing: 0.04em;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.navigation.pagination {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.navigation.pagination .page-numbers {
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    display: inline-block !important;
    color: #333;
    border: 1px solid #e1b5b7;
    margin: 0 2px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    width: inherit;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

body:not(.home) .site-branding .logo .custom-logo-link {
    max-width: 450px;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: block;
    float: left;
    width: 100%;
    padding: 0 5px;
    position: relative;
    margin-bottom: 20px;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1) {
    clear: left;
}

.gallery-columns-3 .gallery-item {
    width: 33.33%;
}

.gallery-columns-3 .gallery-item:nth-child(3n+1) {
    clear: left;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-4 .gallery-item:nth-child(4n+1) {
    clear: left;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-5 .gallery-item:nth-child(5n+1) {
    clear: left;
}

.gallery-columns-6 .gallery-item {
    width: 16.66%;
}

.gallery-columns-6 .gallery-item:nth-child(6n+1) {
    clear: left;
}

.gallery-columns-7 .gallery-item {
    width: 14.28%;
}

.gallery-columns-7 .gallery-item:nth-child(7n+1) {
    clear: left;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-8 .gallery-item:nth-child(8n+1) {
    clear: left;
}

.gallery-columns-9 .gallery-item {
    width: 11.11%;
}

.gallery-columns-9 .gallery-item:nth-child(9n+1) {
    clear: left;
}

.gallery-caption {
    display: block;
    background: #000;
    background: rgba(0, 0, 0, .74);
    color: #fff;
    font-size: 85%;
    line-height: 1.22857143;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    padding: 15px;
    text-align: left;
}

.widget .gallery-caption {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.widget .gallery-item {
    margin: 2px auto;
}

@media only screen and (max-width: 991px) {
    body .gallery:not(.gallery-columns-1) .gallery-item {
        width: 50%;
        clear: none !important;
    }

    body .gallery:not(.gallery-columns-1) .gallery-item:nth-child(2n+1) {
        clear: left !important;
    }
}

@media only screen and (max-width: 640px) {
    body .gallery:not(.gallery-columns-1) .gallery-item {
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 290px;
        width: 100%;
    }
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
    background-color: #f2f2f2;
    color: #232323;
}

.site-widget-area {
    padding-top: 50px;
    padding-bottom: 30px;
}

.site-info {
    padding: 20px 0;
}

.social-navigation {
    font-size: 16px;
    font-size: 1rem;
}

.social-navigation ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.social-navigation li {
    display: inline;
}

.social-navigation a {
    -webkit-border-radius: 45px;
    border-radius: 45px;
    display: inline-block;
    height: 45px;
    margin: 0 0.15em 0 0;
    text-align: center;
    width: 45px;
}

.social-navigation .icon {
    height: 18px;
    top: 12px;
    width: 18px;
    vertical-align: top;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}

.copyright-info {
    text-align: right;
    margin: 10px auto;
}

.social-nav-disabled .copyright-info {
    text-align: left;
}

.photo-grid {
    background-color: #fff;
    margin: 0 0 35px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
}

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
.slider {
    position: relative;
}

.prev,
.next {
    color: #fff;
    width: 47px;
    height: 47px;
    display: block;
    float: left;
    margin: 0 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slide-caption {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.slidernav {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.svg-icon {
    fill: currentColor;
}

.slidernav-inner {
    display: inline-block;
}

.overlay:before {
    position: absolute;
    left: 0;
    right: 0;
}

.overlay-enable:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=75);
    opacity: .75;
}

.main-navigation .menu .menu-mobile li,
.comments-title,
.comments-area .comment-respond .comment-reply-title,
.widget_recent_comments li,
.widget_pages li a,
.widget_archive li a,
.widget_meta li a,
.widget_categories li,
.widget_nav_menu li a,
.widget_recent_entries li a,
#wp-calendar tbody td {
    border-color: #e9e9e9;
}

.social-navigation a,
.widget-title,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.navigation.pagination .page-numbers.current,
.tagcloud > a:hover,
.tagcloud > a:focus {
    background-color: #e1b5b7;
    color: #fff;
}

.overlay:before,
.social-navigation a:hover,
.social-navigation a:focus,
button:hover,
button:active, button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    background-color: #333;
}

.comment-form .submit:hover,
.comment-form .submit:active,
.comment-form .submit:focus,
.post-navigation a:hover,
.post-navigation a:focus {
    background: #9384c9;
}

.post-navigation a:hover,
.post-navigation a:focus {
    border-color: #9384c9;
}

@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }

    .slides-title {
        font-size: 28px;
    }
}

.error-404 {
    margin-left: auto;
    margin-right: auto;
}

.error-404 .search-form {
    margin-bottom: 30px;
}

.search-results .page-header,
.archive .page-header .page-title {
    text-align: center;
    font-size: 30px;
}

.search-results .page-header span,
.archive .page-header span {
    color: #000;
    font-weight: 700;
}

.tags-links a:before {
    content: "#";
    display: inline-block;
    margin-right: 4px;
}

.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.slider-nav .slick-dots {
    top: 50px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin: 20px 5px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent !important;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    background: transparent !important;
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    content: "";
    background: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    opacity: .25;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
    background: #fff;
}

.gallery-columns-1 .slick-dots li button:before,
.wp-block-gallery.columns-1 .slick-dots li button:before {
    border-color: #000;
}

.gallery-columns-1 .slick-dots li.slick-active button:before,
.wp-block-gallery.columns-1 .slick-dots li.slick-active button:before {
    background: #000;
}

.gallery-columns-1 .nav {
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    padding: 10px;
    z-index: 1;
}

.gallery-columns-1 .nav-angle-left {
    left: 5px;
    right: inherit;
}

.gallery-columns-1 .nav-angle-right {
    right: 5px;
    left: inherit;
}

.gallery-columns-1 .nav:before {
    content: '';
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 5px;
    right: 5px;
    z-index: 1;
    top: 5px;
}

.gallery-columns-1 .nav-angle-left:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='svg-icon' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32.635 32.635' style='enable-background:new 0 0 32.635 32.635;' xml:space='preserve'%3e%3cg%3e%3cpath d='M32.135,16.817H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h31.635c0.276,0,0.5,0.224,0.5,0.5S32.411,16.817,32.135,16.817z'/%3e%3cpath d='M13.037,29.353c-0.128,0-0.256-0.049-0.354-0.146L0.146,16.669C0.053,16.575,0,16.448,0,16.315s0.053-0.26,0.146-0.354L12.684,3.429c0.195-0.195,0.512-0.195,0.707,0s0.195,0.512,0,0.707L1.207,16.315l12.184,12.184c0.195,0.195,0.195,0.512,0,0.707C13.293,29.304,13.165,29.353,13.037,29.353z'/%3e%3c/g%3e%3c/svg%3e");
}

.gallery-columns-1 .nav-angle-right:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='svg-icon' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32.635 32.635' style='enable-background:new 0 0 32.635 32.635;' xml:space='preserve'%3e%3cg%3e%3cpath d='M32.135,16.817H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h31.635c0.276,0,0.5,0.224,0.5,0.5S32.411,16.817,32.135,16.817z'/%3e%3cpath d='M19.598,29.353c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l12.184-12.184L19.244,4.136c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0l12.537,12.533c0.094,0.094,0.146,0.221,0.146,0.354s-0.053,0.26-0.146,0.354L19.951,29.206C19.854,29.304,19.726,29.353,19.598,29.353z'/%3e%3c/g%3e%3c/svg%3e");
}

/*Gutenberg Fix*/
.wp-block-gallery {
    list-style: none;
    padding: 0 !important;
    margin: 0 auto !important;
}

.wp-block-quote {
    margin: 30px 0 30px 0 !important;
    padding: 50px !important;
    font-size: 15px;
    font-style: normal;
    text-align: left;
    quotes: none;
    box-sizing: border-box;
    font-weight: 400;
    position: relative;
    border-left: 0 !important;
    background: #f5f5f5;
}

.wp-block-quote:before,
.wp-block-quote:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px auto;
}

.wp-block-quote:before {
    background: #f5f5f5 url(images/icon-quote-top.svg) no-repeat center;
    top: 10px;
    left: 40px;
    color: #fff;
}

.wp-block-quote:after {
    background: #f5f5f5 url(images/icon-quote-down.svg) no-repeat center;
    right: 40px;
    bottom: 0;
}

.wp-block-quote cite {
    font-size: 12px;
    font-style: normal;
}

.wp-block-quote.is-style-large {
    margin-bottom: 23px;
    margin-top: 0 !important;
}

.wp-block-quote.is-style-large p {
    font-size: 24px !important;
    line-height: 1.5 !important;
}

.wp-block-quote p {
    line-height: 25px !important;
}

@media only screen and (min-width: 768px) {
    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: auto;
        max-width: 1000%;
    }

    .alignwide {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
    }

    .alignwide img,
    .alignfull img {
        display: block;
        margin: 0 auto;
    }
}

.scroll-up {
    transition: none !important;
}

.scroll-up {
    background: #fff;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 0;
    display: none;
    border-radius: 200em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.scroll-up:before {
    content: "";
    background: url("images/up-arrow.svg") no-repeat center;
    display: block;
    width: 25px;
    height: 60px;
    line-height: 60px;
    opacity: 1;
    margin: 0 auto;
}

.scroll-up span {
    display: none;
}

.zoom-gallery{
    position: relative;
}

.enlarge-icon-zoomer{
    cursor: pointer;
    position: absolute;
    height: 50px;
    right: 20px;
    top: 20px;
    width: 50px;
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: center;
    background: #333;
    background: rgba(0,0,0,0.12);
}

.enlarge-icon-zoomer:hover,
.enlarge-icon-zoomer:focus{
    background: #000;
    background: rgba(0,0,0,0.62);
}

.enlarge-icon{
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.667 490.667' fill='white' style='enable-background:new 0 0 490.667 490.667;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M423.531,67.136c-4.16-4.16-10.923-4.16-15.083,0L259.115,216.469c-4.16,4.16-4.16,10.923,0,15.083 c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115L423.531,82.219 C427.691,78.059,427.691,71.296,423.531,67.136z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M416,64c-5.888,0-10.667,4.779-10.667,10.667v128c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667 v-128C426.667,68.779,421.888,64,416,64z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M416,64H288c-5.888,0-10.667,4.779-10.667,10.667S282.112,85.333,288,85.333h128c5.888,0,10.667-4.779,10.667-10.667 S421.888,64,416,64z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M231.531,259.136c-4.16-4.16-10.923-4.16-15.083,0L67.115,408.469c-4.16,4.16-4.16,10.923,0,15.083 c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115l149.333-149.333 C235.691,270.059,235.691,263.296,231.531,259.136z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M74.667,277.333C68.779,277.333,64,282.112,64,288v128c0,5.888,4.779,10.667,10.667,10.667S85.333,421.888,85.333,416V288 C85.333,282.112,80.555,277.333,74.667,277.333z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M202.667,405.333h-128C68.779,405.333,64,410.112,64,416c0,5.888,4.779,10.667,10.667,10.667h128 c5.888,0,10.667-4.779,10.667-10.667C213.333,410.112,208.555,405.333,202.667,405.333z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M458.667,0H32C14.357,0,0,14.357,0,32v426.667c0,17.643,14.357,32,32,32h426.667c17.643,0,32-14.357,32-32V32 C490.667,14.357,476.309,0,458.667,0z M469.333,458.667c0,5.867-4.8,10.667-10.667,10.667H32c-5.867,0-10.667-4.8-10.667-10.667 V32c0-5.867,4.8-10.667,10.667-10.667h426.667c5.867,0,10.667,4.8,10.667,10.667V458.667z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}